.container {
    background-color: #ddd;
    padding-top: 50px;
    padding-left: 50px;
}

.kalkulator {
    padding: 10px auto;
    display: flex;
}

.hasil {
    display: none;
}

.form-group {
    margin: 15px;
}

label {
    font-weight: bolder;
}

label::after {
    content: " ";
    display: block;
}

input[type='number'] {
    width: 800px;
    padding: 10px 20px;
}


button {
    padding: 10px;
    width: 840px;
    font-size: 20px;
    color: white;
    border: none;
    margin: 10px auto;
}

#hitung {
    background-color: #36a949;
}

#reset {
    background-color: #32aeec;
}

#kembali {
    background-color: #fba734;
}

#pesan-bmi {
    padding: 10px;
    width: 840px;
    text-align: center;
}

#bmi {
    padding: 10px;
    width: 840px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.keterangan {
    background-color: white;
    padding: 30px;
}